@model Game
<div class="form-group">
    <label asp-for="Name"></label>
    <input type="text" asp-for="Name" id="nameId" required aria-describedby="nameHelp" placeholder="Game Name" class="form-control" />
    <small id="nameHelp" class="form-text text-muted">This is help text.</small>
</div>
<button type="button" class="btn btn-secondary form-control" onclick="Test2()">CheckName</button>
<div class="form-group">
    <label asp-for="ReleaseName"></label>
    <input type="text" asp-for="ReleaseName" placeholder="" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="ReleaseNameDotJson"></label>
    <input type="text" asp-for="ReleaseNameDotJson" placeholder="" class="form-control" />
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        async function Test2() {

            $nameId = $('$nameId').value;

            console.log($nameId);

            const response = await fetch('/Games/CheckName/sweets', {
                method: 'POST'
            });
            const myJson = await response.json();
            console.log(JSON.stringify(myJson));
            console.log('Post: ' + myJson)
        }

    </script>

}